/* Definición de los estilos de la página */

* { box-sizing: border-box; }

h1 { color: red; }
.mytable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    border: 1px solid red;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
